<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <tbody>
  <!-- 배송전 -->
  <tr th:each="order : ${orders}" th:if="${order.DeliveryStatus == 'w'}">
    <td>배송전</td>
    <td><a th:href="@{'/Admin/productOrderDetail/' + ${order.product.id}}"><img th:src="@{/uploads/} + ${order.product.pic}" alt="Product Image" width="100"></a></td>
    <td th:text="${order.product.pName}">상품명</td>
    <td th:text="${order.product.pPrice}">상품가격</td>
  </tr>

  <!-- 배송중 -->
  <tr th:each="order : ${orders}" th:if="${order.DeliveryStatus == 'ing'}">
    <td>배송중</td>
    <td><a th:href="@{'/Admin/productOrderDetail/' + ${order.product.id}}"><img th:src="@{/uploads/} + ${order.product.pic}" alt="Product Image" width="100"></a></td>
    <td th:text="${order.product.pName}">상품명</td>
    <td th:text="${order.product.pPrice}">상품가격</td>
  </tr>

  <!-- 배송완료 -->
  <tr th:each="order : ${orders}" th:if="${order.DeliveryStatus == 'f'}">
    <td>배송완료</td>
    <td><a th:href="@{'/Admin/productOrderDetail/' + ${order.product.id}}"><img th:src="@{/uploads/} + ${order.product.pic}" alt="Product Image" width="100"></a></td>
    <td th:text="${order.product.pName}">상품명</td>
    <td th:text="${order.product.pPrice}">상품가격</td>
  </tr>

  <!-- 구매완료 -->
  <tr th:each="order : ${orders}" th:if="${order.DeliveryStatus == 'd'}">
    <td>배송완료</td>
    <td><a th:href="@{'/Admin/productOrderDetail/' + ${order.product.id}}"><img th:src="@{/uploads/} + ${order.product.pic}" alt="Product Image" width="100"></a></td>
    <td th:text="${order.product.pName}">상품명</td>
    <td th:text="${order.product.pPrice}">상품가격</td>
  </tr>
  </tbody>
</table>
</body>
</html>
