<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Password</title>
  <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">홈</a></li>
      <li><a href="/demo/logout">로그아웃</a></li>
    </ul>
  </nav>
</header>

<section>
  <form action="/demo/edit-password" method="post">
    <label for="memberPassword">새 비밀번호:</label>
    <input type="password" id="memberPassword" name="memberPassword">
    <button type="submit">저장</button>
  </form>
</section>
</body>
</html>
