<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Page</title>
  <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">홈</a></li>
      <li><a href="/demo/logout">로그아웃</a></li>
    </ul>
  </nav>
</header>

<section>
  <h1>My Page</h1>

  <!-- 사용자 정보 표시 -->
  <div>
    <p><strong>이메일:</strong> <span th:text="${session.loggedInUser.memberEmail}"></span></p>
    <p><strong>이름:</strong> <span th:text="${session.loggedInUser.memberName}"></span></p>
    <p><strong>생년월일:</strong> <span th:text="${session.loggedInUser.memberBir}"></span></p>
    <p><strong>전화번호:</strong> <span th:text="${session.loggedInUser.memberPhone}"></span></p>

    <!-- 주소 수정 링크 -->
    <p><strong>주소:</strong> <span th:text="${session.loggedInUser.memberAddress}"></span>
      <a href="/demo/edit-address">주소 수정</a>
    </p>

    <!-- 비밀번호 수정 링크 -->
      <a href="/demo/edit-password">비밀번호 수정</a>
  </div>

</section>
</body>
</html>
