<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>제품 상세 정보</title>
</head>
<body>
<h1>제품 상세 정보</h1>


<img th:src="@{/uploads/} + ${product.pic}" alt="Product Image" width="200">
<p><strong>상품명:</strong> <span th:text="${product.pName}">상품명</span></p>


<form method="post" th:action="@{/order/submit}">
  <div>
  <label>이름:</label>
  <input type="text" th:value="${memberName}" readonly><br>
  </div>
  <div>
  <label>휴대폰 번호:</label>
  <input type="text" th:value="${memberPhone}"><br>
  </div>
  <div>
  <label>이메일:</label>
  <input type="email" th:value="${memberEmail}" readonly><br>
  </div>
  <div>
    <label>주소:</label>
    <select name="shoppingAddress" required>
      <option value="" disabled selected>주소를 선택하세요</option>
      <li th:each="address : ${addresses}">
        <option th:value="${address.address} + ' ' + ${address.detailAddress}">[[${address.address}]] [[${address.detailAddress}]]</option>
      </li>
    </select>
  </div>

  <div>
  <label>배송 메모:</label>
  <textarea name="shoppingMemo" placeholder="배송 메모를 입력하세요"></textarea><br>
  </div>

  <div>
    <label>결제 방법:</label>
    <div>
      <input type="radio" name="paymentMethod" value="card" id="card" required />
      <label for="card">카드 결제</label>
    </div>
    <div>
      <input type="radio" name="paymentMethod" value="kakao" id="kakao" />
      <label for="kakao">카카오페이 결제</label>
    </div>
    <div>
      <input type="radio" name="paymentMethod" value="toss" id="toss" />
      <label for="toss">토스 결제</label>
    </div>
  </div>
  <div>
    <input type="hidden" name="productId" th:value="${product.id}"/>
    <button type="submit">주문하기</button>
  </div>
</form>


</body>
</html>