<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product List</title>
</head>
<body>
<h1>상품 목록</h1>

<table>
  <tr>
    <th>사진</th>
    <th>이름</th>
    <th>설명</th> <!-- 설명 컬럼 추가 -->
    <th>가격</th>
    <th>타입</th>
  </tr>
  <tr th:each="product : ${products}">
    <td><img th:src="@{/uploads/} + ${product.pic}" alt="Product Image" width="100"></td>
    <td th:text="${product.pName}">Name</td>
    <td th:text="${product.pContent}">Description</td>
    <td th:text="${product.pPrice}">Price</td>
    <td th:text="${product.pType}">Type</td>
  </tr>
</table>

</body>
</html>
